body {
  background-color: #070606;
  font-family: Arial, sans-serif;
  color: white;
  margin: 0;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.lore-main-container {
  width: 50%;
  background: #0a0a0a;
  padding: 30px;
  border-radius: 12px;
  border: 1.25px solid #ffffff;
  color: white;
  margin-top: 50px;
}

.loretitle {
  font-size: 35px;
  margin-bottom: 15px;
}

.loredivider {
  width: 111px;
  height: 4px;
  background-color: #ffffff;
  margin: 10px auto;
}

.lorebox1,
.lorebox2,
.lorebox3,
.lorebox4 {
  background-color: #252525;
}