body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #070606;
  font-family: Arial, sans-serif;
  color: white;
  margin: 0;
}

.home-container {
  background: #0a0a0a;
  padding: 20px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 300px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 5px;
  text-align: center;
}

.divider {
  border-bottom: 2px solid white;
  margin: 10px 0 20px;
}

.link-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.info1,
.subspecies {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 50%;
}

button {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  white-space: nowrap;
  width: auto;
  min-width: 140px;
  text-align: center;
}

button:hover {
  background-color: #484848;
  color: white;
  border-color: white;
}